/* .newsStand {
    display: flex;
    margin: 58px 175px;
}

.top-area {
    display: flex;
    justify-content: space-between;
}

.date {
    font-weight: 500;
    font-size: 16px;
    color: rgba(95, 110, 118, 1);
} */

