div.display-none {
  display: none;
}

.press-grid-wrap {
  width: 930px;
  height: 388px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-top: 1px solid rgba(210, 218, 224, 1);
  border-left: 1px solid rgba(210, 218, 224, 1);
}

.press-list-wrap {
  width: 930px;
  height: 388px;
  border: 1px solid rgba(210, 218, 224, 1);
}

.news-list {
  display: flex;
}
