.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin-side {
  margin-left: auto;
  margin-right: auto;
}

.pointer {
  cursor: pointer;
}

.top-area {
  width: 930px;
  height: 49px;
}

.date {
  width: 140px;
  height: 22px;
  font-weight: 500;
  font-size: 16px;
  color: rgba(95, 110, 118, 1);
}

.breaking-news-area {
  width: 930px;
  height: 49px;
  padding: 16px;
}

.auto-rolling-news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 461px;
  height: 49px;
  border: 1px solid rgba(210, 218, 224, 1);
  background-color: rgba(245, 247, 249, 1);
}

.auto-rolling-news span {
  margin: 16px;
  font-weight: 700;
  font-size: 14px;
}

.rolling-wrap {
  position: relative;
  width: 80%;
  height: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.rolling-wrap ul {
  list-style: none;
}

.rolling-wrap li {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.prev {
  top: -50px;
  transition: top 0.5s ease;
}

li.current {
  top: 8px;
  transition: top 0.5s ease;
}

li.next {
  top: 50px;
}

.rolling-wrap a {
  font-weight: 500;
  font-size: 14px;
  color: rgba(95, 110, 118, 1);
  text-decoration: none;
  width: 100%;
}

.rolling-wrap a:hover {
  text-decoration: underline;
}

.tap-viewer-area {
  width: 930px;
  height: 24px;
  margin-top: 30px;
}

.tap-viewer-area .tap {
  width: 216px;
  height: 22px;
}

.tap-viewer-area .tap .on {
  font-weight: 700;
  font-size: 16px;
  color: rgba(20, 33, 43, 1);
}

.tap-viewer-area .tap .off {
  font-weight: 500;
  font-size: 16px;
  color: rgba(135, 146, 152, 1);
}

.viewer i {
  font-size: 20px;
  color: #879298;
  margin: 5px;
}

.viewer .on {
  color: #4362d0;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  position: relative;
}

.press-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(210, 218, 224, 1);
  border-right: 1px solid rgba(210, 218, 224, 1);
  height: 97px;
}

.press-logo {
  max-width: 50%;
  object-fit: contain;
}

.press-box .subs {
  display: none;
}

.press-box:hover .subs {
  display: block;
  font-size: 13px;
  text-align: center;
  line-height: 24px;
  color: #879298;
  width: 72px;
  height: 24px;
  padding: auto;
  border: 1px solid rgba(210, 218, 224, 1);
  border-radius: 50px;
}

.press-box:hover .press-logo {
  display: none;
}

.subs :hover {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.right-button,
.left-button {
  position: absolute;
  top: 180px;
  font-size: 40px;
  color: rgba(110, 128, 145, 1);
}

.right-button {
  left: 103%;
}

.left-button {
  right: 103%;
}

.right-button:hover,
.left-button:hover {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}
